@import "./../ShopAllProducts/ShopAllProducts.scss";
@import "./../../app.scss";

#Reviewed-models {
  width: 100%;
  height: 100%;
  display: inline-flex;
  flex-direction: row;
  margin: auto;
  .BestModel__wrapper {
    width: auto !important;
  }
  .Model__price {
    display: none !important;
  }
  .BestModel__desc {
    padding-bottom: 40px;
  }
}

.DarkGrey-bg {
  background-color: #dbdbdb;
  margin: auto;
  width: 50%;
}

.Grey-bg {
  background-color: #e8e7e7;
  margin: auto;
  width: 50%;
}


#first {
  justify-content: center;
  margin: auto;
  align-items: center;
}
.first-photo {
  width: 320px;
  height: 100%;
}

.Details-description {
  width: 45%;
  padding-left: 10%;
  .Model-name {
    font-size: 2.1rem;
    font-family: "Roboto";
    font-weight: normal;
    padding-left: 5px;
  }
  .BestModel__desc {
    padding-top: 15px;
    font-size: 0.75rem;
    padding-bottom: 20px;
    padding-left: 7px;
  }
  .Model__price {
    font-family: "Lucida Sans";
    font-size: 2rem;
    letter-spacing: -2px;
    color: black;
  }
  .Color-text {
    color: rgb(80, 79, 79);
    font-family: "WorkSans-Regular";
    font-size: 0.9rem;
    padding-top: 20px;
    padding-left: 7px;
  }

  ul li img {
    width: 30px;
    padding: 2px;
  }
  ul {
    padding-left: 7px;
    justify-content: flex-start;
  }
  .Colors-available {
    width: 85%;
    padding-bottom: 17px;
  }
  .Button {
    width: 100%;
  }
  .Button_wrapper {
    margin-left: 7px;
    border-bottom: 1px solid #dbdbdb;
    border-top: 1px solid #dbdbdb;
    padding-bottom: 25px;
    padding-top: 34px;
    width: 85%;
  }
}

@media only screen and (max-width: 992px) {
  #Single-product {
    padding: 120px 25px 50px 25px !important;
  }
}
@media only screen and (max-width: 800px) {
  .Details-description {
    width: 45%;
    padding-left: 10%;
    .Model-name {
      font-size: 1.8rem;
      padding-top: 30px;
    }
  }
}
@media only screen and (max-width: 767px) {
  .Scroll-wrapper {
    padding: 0px 20px 30px 20px !important;
    height: 100% !important;
    box-sizing: border-box;
    
  }
  #Single-product {
    flex-direction: column;
    display: block;
    padding: 20px 0;
    img{
      height: 380px;
    }
  }
  #Description-photos {
    padding-top: 0px !important;
  }
  #Description-photos,
  .Scroll-wrapper,
  .Details-description {
    width: 100%;
    padding-top: 40px;
    padding-bottom: 20px;
  }
  #Reviewed-models {
    display: block;
    flex-direction: column;
  }
  .Grey-bg,
  .DarkGrey-bg {
    width: 100%;
  }
  .Details-description .Button_wrapper {
    width: 66%;
  }
  #Single-product {
    padding: 120px 1px 50px 1px !important;
  }
}
@media only screen and (max-width: 640px) {
  .Details-description .Button_wrapper {
    width: 80%;
  }
  #Single-product {
    padding: 120px 1px 50px 1px !important;
  }
}
@media only screen and (max-width: 600px) {
  .Details-description .Button_wrapper {
    width: 86%;
  }
  #Single-product {
    padding: 120px 1px 50px 1px !important;
  }
}