/* INITIALIZERS + DEFAULTS
 * ============================== */
@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,700");
@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,500;0,700;1,400&display=swap');

@font-face {
  font-family: "Microsoft Tai Le";
  src: local("Microsoft Tai Le"), local("Microsoft-Tai-Le"),
    url("./fonts/taile.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "ATOsmose-Light";
  src: local("AT Osmose Light"), local("AT-Osmose-Light"),
    url("./fonts/ATOsmose-Light.woff2") format("woff2"),
    url("./fonts/ATOsmose-Light.woff") format("woff"),
    url("./fonts/ATOsmose-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "ATOsmose-Regular";
  src: local("AT Osmose Regular"), local("AT-Osmose-Regular"),
    url("./fonts/ATOsmose-Regular.woff2") format("woff2"),
    url("./fonts/ATOsmose-Regular.woff") format("woff"),
    url("./fonts/ATOsmose-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "WorkSans-Regular";
  src: local("Work Sans Regular"), local("Work-Sans-Regular"),
    url("./fonts/WorkSans-Regular.woff2") format("woff2"),
    url("./fonts/WorkSans-Regular.woff") format("woff"),
    url("./fonts/WorkSans-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "WorkSans-Bold";
  src: local("Work Sans Bold"), local("Work-Sans-Bold"),
    url("./fonts/WorkSans-Bold.woff2") format("woff2"),
    url("./fonts/WorkSans-Bold.woff") format("woff"),
    url("./fonts/WorkSans-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "ATSurt-Light";
  src: url("./fonts/11e3faf8d0afdd6295ef811cd20bb96e.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Adieu";
  src: url("./fonts/Adieu-RegularSlanted.woff.ttf") format("truetype");
}

@font-face {
  font-family: "Lucida Sans";
  src: url("./fonts/Lucida-Sans-Regular.ttf") format("truetype");
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

html {
  -webkit-font-smoothing: antialiased;
  scroll-behavior: smooth;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-weight: 400;
}

html,
body,
.App {
  margin: 0 auto;
  padding: 0;
  width: 100%;
  background-color: #fff;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

.App__view-cart-wrapper {
  //float: right;
  z-index: 7000;
  position: relative;
}

.App__view-cart {
  font-size: inherit;
  border: none;
  background: none;
  cursor: pointer;
  color: white;
  font-family: "ATOsmose-Regular";
  font-weight: 400;
  font-style: normal;
  outline: none;
}


/* CART
 * ============================== */
.Cart {
  position: fixed;
  top: 0;
  right: 0;
  height: 100%;
  width: 350px;
  background-color: white;
  display: flex;
  flex-direction: column;
  border-left: 1px solid #e5e5e5;
  transform: translateX(100%);
  transition: transform 0.15s ease-in-out;
  z-index: 8000;
  font-family: "WorkSans-Regular";
  font-weight: 400;
  font-style: normal;
}

.Cart--open {
  transform: translateX(0);
}

.Cart__close {
  position: absolute;
  right: 9px;
  top: 8px;
  font-size: 35px;
  color: #999;
  border: none;
  background: transparent;
  transition: transform 100ms ease;
  cursor: pointer;
}

.Cart__header {
  padding: 20px;
  border-bottom: 1px solid #e5e5e5;
  flex: 0 0 auto;
  display: inline-block;
}

.Cart__line-items {
  flex: 1 0 auto;
  margin: 0;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  .Line-item__content-row {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    padding: 8px 0 0 8px;
    .Line-item__price {
      padding-left: 10px;
    }
    .Line-item__remove {
      margin-top: 10px;
      // margin-right: -5px;
    }
  }
  .Line-item__img img {
    width: 100%;
    height: 100%;
  }
}

.Cart__footer {
  padding: 20px;
  border-top: 1px solid #e5e5e5;
  flex: 0 0 auto;
}

.Cart__checkout {
  margin-top: 20px;
  display: block;
  width: 100%;
}

.Cart-info {
  padding: 15px 20px 10px;
}

.Cart-info__total {
  float: left;
  text-transform: uppercase;
}

.Cart-info__small {
  font-size: 11px;
}

.Cart-info__pricing {
  float: right;
}

.pricing {
  margin-left: 5px;
  font-size: 16px;
  color: black;
}

@media only screen and (max-width: 800px) {
  .Cart--open {
    width: 100%;
  }
}

@media only screen and (max-width: 320px) {
  .Cart {
    padding-left: 30px !important;
  }
}
/* LINE ITEMS
 * ============================== */
.Line-item {
  margin-bottom: 20px;
  overflow: hidden;
  backface-visibility: visible;
  min-height: 65px;
  position: relative;
  opacity: 1;
  transition: opacity 0.2s ease-in-out;
}

.Line-item__img {
  width: 65px;
  height: 65px;
  border-radius: 3px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  background-color: #e5e5e5;
  position: absolute;
}

.Line-item__content {
  width: 100%;
  padding-left: 75px;
}

.Line-item__content-row {
  display: inline-block;
  width: 100%;
  margin-bottom: 5px;
  position: relative;
}

.Line-item__variant-title {
  float: right;
  font-weight: bold;
  font-size: 11px;
  line-height: 17px;
  color: #767676;
}

.Line-item__title {
  color: #4e5665;
  font-size: 15px;
  font-weight: 400;
}

.Line-item__price {
  line-height: 23px;
  float: right;
  font-weight: bold;
  font-size: 15px;
  margin-right: 40px;
}

.Line-item__quantity-container {
  border: 1px solid #767676;
  float: left;
  border-radius: 3px;
}

.Line-item__quantity-update {
  color: #767676;
  display: block;
  float: left;
  height: 21px;
  line-height: 16px;
  font-family: monospace;
  width: 25px;
  padding: 0;
  border: none;
  background: transparent;
  box-shadow: none;
  cursor: pointer;
  font-size: 18px;
  text-align: center;
}

.Line-item__quantity-update-form {
  display: inline;
}

.Line-item__quantity {
  color: black;
  width: 38px;
  height: 21px;
  line-height: 23px;
  font-size: 15px;
  border: none;
  text-align: center;
  -moz-appearance: textfield;
  background: transparent;
  border-left: 1px solid #767676;
  border-right: 1px solid #767676;
  display: block;
  float: left;
  padding: 0;
  border-radius: 0;
}

.Line-item__remove {
  position: absolute;
  right: 0;
  top: 0;
  border: 0;
  background: 0;
  font-size: 20px;
  top: -4px;
  opacity: 0.5;
}

.Line-item__remove:hover {
  opacity: 1;
  cursor: pointer;
}

// About

#About,
#Experience,
#HistoryPhilosophy {
  background-color: #222;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 100px 0 40px 0;
}

article.article {
  width: 50%;
  font-family: "ATOsmose-Light";
  h1 {
    color: #56bad9;
  }
}

@media (max-width: 75rem) {
  article.article {
    width: 80%;
  }
}

//CUSTOMER REVIEW
.Review-section {
  width: 100%;
  height: 100%;
  background-color: #121212;
  padding: 80px 151px 20px 124px;
  text-align: center;
  color: white;
  font-family: "WorkSans-Regular";
}

.Review-title {
  text-align: center;
  font-size: 2rem;
  font-family: "Lucida Sans";
}
#Rate-wrapper {
  .MuiRating-root,
  fieldset {
    color: #7e70c2;
    font-size: 1.2rem;
    padding: 0px !important;
    margin: 0px !important;
  }
  .MuiBox-root-18,
  .MuiBox-root-19 {
    margin-bottom: 0px !important;
  }
}
.Customer-name {
  text-align: left;
  padding-bottom: 10px;
}
.Review-wrapper {
  width: 100%;
  height: 100%;
  padding: 50px 0px;
  font-family: "WorkSans-Regular";
  font-size: 15px;
  letter-spacing: -1;
  .Customer-name {
    font-weight: 600;
    font-size: 15px;
    letter-spacing: -1;
  }
}

.Customer-review {
  width: 100%;
  text-align: left;
  float: left;
  flex-direction: row;
  display: inline-flex;
  border-bottom: 1px solid white;
  padding-bottom: 20px;
}
.CReview-title {
  padding-right: 70px;
  letter-spacing: -1;
}
.CReview-desc {
  padding-left: 90px;
  letter-spacing: -1;
}
.review-alignment {
  display: inline-flex;
  flex-direction: row;
}
@media only screen and (max-width: 800px) {
  .Review-section {
    padding: 80px 100px 20px 100px;
  }
}
@media only screen and (max-width: 767px) {
  .review-alignment {
    display: inline-flex;
    flex-direction: row;
  }
  .Review-section {
    padding: 30px !important;
  }
  .CReview-desc {
    padding-left: 30px !important;
  }
  .CReview-title {
    padding-right: 30px;
  }
}
@media only screen and (max-width: 480px) {
 .Review-section{
  padding: 30px 20px 60px 20px!important;
 }
  .review-alignment {
    display: block;
    flex-direction: column;
  }
  .Review-wrapper {
    width: 100%;
    height: 190%;
    padding: 40px 0px;
  }
  .Customer-review {
    margin-bottom: 20px !important;
}
}
@media only screen and (max-width: 384px) {
  .CReview-title {
    padding-right: 20px;
  }
  .CReview-desc {
    padding-left: 25px !important;
  }
  .Review-section {
    padding: 30px 20px  60px 20px!important;
  }
  .Review-wrapper{
    font-size: 13px !important;
  }
}
//OFFER

.Offer-wrapper {
  padding: 100px 100px;
  background-color: whitesmoke;
  display: inline-flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
  justify-content: space-evenly;
}
.Shipping {
  display: block;
  text-align: center;
}
.Shipping-title {
  font-family: "WorkSans-Regular";
  color: #222;
}
.Shipping-desc {
  font-family: "WorkSans-Regular";
  color: #8f8e8e;
  font-size: 12px;
}

@media only screen and (max-width: 800px) {
  .Offer-wrapper {
    padding: 80px 40px !important;
  }
}
@media only screen and (max-width: 640px) {
  .Offer-wrapper {
    padding: 50px 20px !important;
  }
}
@media only screen and (max-width: 540px) {
  .Offer-wrapper {
    display: block;
    flex-direction: column;
    justify-content: space-evenly;
  }
  .Shipping {
    padding-top: 20px;
  }
}
